<div class="container">
    <div class="row">
      <div class="col-md-12">

        <ol class="breadcrumb">
          <li><a href="http://localhost/stock/dashboard.php">Home</a></li>
          <li class="active">Product</li>
        </ol>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="page-heading"> <i class="glyphicon glyphicon-edit"></i> Manage Product</div>
          </div> <!-- /panel-heading -->
          <div class="panel-body">
            sdsdsdsd
            <input type="text" #d="dateControl" [value]="dated" smomDate class="form-control" autocomplete="off">
            <span *ngIf="!d.isValid">
              Date is in Valid.
            </span>

            <div class="remove-messages"></div>

            <div class="div-action pull pull-right" style="padding-bottom:20px;padding-left:10px;">
              <button class="btn btn-default button1" data-toggle="modal" id="addProductModalBtn" data-target="#addProductModal"> <i class="glyphicon glyphicon-plus-sign"></i> Add Product </button>
            </div> <!-- /div-action -->

            <div class="div-action pull pull-right" style="padding-bottom:20px;padding-left:10px;">
              <a class="btn btn-default button1" id="viewProductModalBtn" type="button" href="http://localhost/stock/productview.php" target="_blank"> View Total Stock </a>

            </div> <!-- /div-action -->

            <smom-table [columnDef]="columnDef" [filterObject]="filterObject">

              <ng-template smomFilter name="status" let-fun="filter">
                <select (change)="filterData($event,'status', fun)">
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </ng-template>

              <ng-template smomFilter name="rate">
                <input type="checkbox" />
              </ng-template>

              <ng-template smomAction name="action" let-data="row" let-coldef="coldef" let-random="dummy">
                <button type="button" (click)="edit(data,coldef, random)">View </button>
                <button type="button" (click)="editT(data,coldef, random)">Edit </button>
                <button type="button" (click)="editR(data,coldef, random)">Edit R </button>
                <button type="button">Delete </button>
              </ng-template>

            </smom-table>

            <smom-popup #myPopUp (colseEvent)="close($event)">
              <smom-edit-product-form *ngIf="isOpenPopup" [product]="product"></smom-edit-product-form>


            </smom-popup>

            <smom-popup #myPopUpT (colseEvent)="close($event)">
              <smom-edit-product-template-driven *ngIf="isOpenPopupT" [product]="product"></smom-edit-product-template-driven>
            </smom-popup>


            <!-- /table -->

          </div> <!-- /panel-body -->
        </div> <!-- /panel -->
      </div> <!-- /col-md-12 -->
    </div> <!-- /row -->


    <!-- add product -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">

          <form class="form-horizontal" id="submitProductForm" action="http://localhost/stock/php_action/createProduct.php" method="POST" enctype="multipart/form-data">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title"><i class="fa fa-plus"></i> Add Product</h4>
            </div>

            <div class="modal-body" style="max-height:450px; overflow:auto;">

              <div id="add-product-messages"></div>

              <div class="form-group">
                <label for="productImage" class="col-sm-3 control-label">Product Image: </label>
                <label class="col-sm-1 control-label">: </label>
                <div class="col-sm-8">
                  <!-- the avatar markup -->
                  <div id="kv-avatar-errors-1" class="center-block" style="display:none;"></div>
                  <div class="kv-avatar center-block">
                      <input type="file" class="form-control" id="productImage" placeholder="Product Name" name="productImage" style="width:auto;">
                  </div>

                </div>
              </div> <!-- /form-group-->

              <div class="form-group">
                <label for="productName" class="col-sm-3 control-label">Product Name: </label>
                <label class="col-sm-1 control-label">: </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="productName" placeholder="Product Name" name="productName" autocomplete="off">
                </div>
              </div> <!-- /form-group-->

              <div class="form-group">
                <label for="quantity" class="col-sm-3 control-label">Quantity: </label>
                <label class="col-sm-1 control-label">: </label>
                <div class="col-sm-8">
                  <input type="Number" class="form-control" min="0" id="quantity" placeholder="Quantity" name="quantity" autocomplete="off">
                </div>
              </div> <!-- /form-group-->

              <div class="form-group">
                <label for="rate" class="col-sm-3 control-label">Rate: </label>
                <label class="col-sm-1 control-label">: </label>
                <div class="col-sm-8">
                  <input type="Number" min="0" class="form-control" id="rate" placeholder="Rate" name="rate" autocomplete="off">
                </div>
              </div> <!-- /form-group-->

              <div class="form-group">
                <label for="brandName" class="col-sm-3 control-label">Brand Name: </label>
                <label class="col-sm-1 control-label">: </label>
                <div class="col-sm-8">
                  <select class="form-control" id="brandName" name="brandName">
                    <option value="">~~SELECT~~</option>
                    <option value="1">Safar</option><option value="2">Safetrack</option><option value="3">Automobile</option><option value="4">Hero</option>				      </select>
                </div>
              </div> <!-- /form-group-->

              <div class="form-group">
                <label for="categoryName" class="col-sm-3 control-label">Category Name: </label>
                <label class="col-sm-1 control-label">: </label>
                <div class="col-sm-8">
                  <select type="text" class="form-control" id="categoryName" placeholder="Product Name" name="categoryName">
                    <option value="">~~SELECT~~</option>
                    <option value="1">Automobile</option><option value="2">Hero</option>				      </select>
                </div>
              </div> <!-- /form-group-->

              <div class="form-group">
                <label for="productStatus" class="col-sm-3 control-label">Status: </label>
                <label class="col-sm-1 control-label">: </label>
                <div class="col-sm-8">
                  <select class="form-control" id="productStatus" name="productStatus">
                    <option value="">~~SELECT~~</option>
                    <option value="1">Available</option>
                    <option value="2">Not Available</option>
                  </select>
                </div>
              </div> <!-- /form-group-->
            </div> <!-- /modal-body -->

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="glyphicon glyphicon-remove-sign"></i> Close</button>

              <button type="submit" class="btn btn-primary" id="createProductBtn" data-loading-text="Loading..." autocomplete="off"> <i class="glyphicon glyphicon-ok-sign"></i> Save Changes</button>
            </div> <!-- /modal-footer -->
           </form> <!-- /.form -->
        </div> <!-- /modal-content -->
      </div> <!-- /modal-dailog -->
    </div>
    <!-- /add categories -->


    <!-- edit categories brand -->
    <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title"><i class="fa fa-edit"></i> Edit Product</h4>
            </div>
            <div class="modal-body" style="max-height:450px; overflow:auto;">

              <div class="div-loading">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
              </div>

              <div class="div-result">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="http://localhost/stock/product.php#photo" aria-controls="home" role="tab" data-toggle="tab">Photo</a></li>
                <li role="presentation"><a href="http://localhost/stock/product.php#productInfo" aria-controls="profile" role="tab" data-toggle="tab">Product Info</a></li>
              </ul>

              <!-- Tab panes -->
        
            </div>

            </div> <!-- /modal-body -->


        </div>
        <!-- /modal-content -->
      </div>
      <!-- /modal-dailog -->
    </div>
    <!-- /categories brand -->

    <!-- categories brand -->
    <div class="modal fade" tabindex="-1" role="dialog" id="removeProductModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title"><i class="glyphicon glyphicon-trash"></i> Remove Product</h4>
          </div>
          <div class="modal-body">

            <div class="removeProductMessages"></div>

            <p>Do you really want to remove ?</p>
          </div>
          <div class="modal-footer removeProductFooter">
            <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="glyphicon glyphicon-remove-sign"></i> Close</button>
            <button type="button" class="btn btn-primary" id="removeProductBtn" data-loading-text="Loading..."> <i class="glyphicon glyphicon-ok-sign"></i> Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- /categories brand -->
    </div> <!-- container -->

