<table style="width: 100%;">
  <tr style="width: 100%;">
      <th (click)="sortColumn('id')" class="sorting" tabindex="0" aria-controls="manageProductTable" rowspan="1"
          colspan="1" aria-label="Brand: activate to sort column ascending" style="width: 30%;">Id</th>
      <th (click)="sortColumn('name')" class="sorting" tabindex="0" aria-controls="manageProductTable" rowspan="1"
          colspan="1" aria-label="Brand: activate to sort column ascending" style="width: 30%;">Name</th>
      <th (click)="sortColumn('description')" class="sorting" tabindex="0" aria-controls="manageProductTable"
          rowspan="1" colspan="1" aria-label="Brand: activate to sort column ascending" style="width: 30%;">
          Description</th>
  </tr>
  <tr *ngFor="let category of categoryDetails">
      <td style="width: 30%;">{{category.id}}</td>
      <td style="width: 30%;">{{category.name}}</td>
      <td [innerHTML]="category.description" style="width: 30%;"></td>
  </tr>
</table>