<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
    
      <table width="100%">  
    <tbody><tr>
    <td>  <img src="/assests/logo/logo.png" width="100" height="50"></td>
    <td>
    <ul class="nav navbar-nav navbar-right">        
            <li id="navDashboard"><a href="http://localhost/stock/index.php"><i class="glyphicon glyphicon-list-alt"></i>  Dashboard</a></li>        
    
        
        <li id="navBrand"><a href="http://localhost/stock/brand.php"><i class="glyphicon glyphicon-btc"></i>  Brand</a></li>        
  
        <li id="navCategories"><a [routerLink]="['category']"> <i class="glyphicon glyphicon-th-list"></i> Category</a></li>        
  
        <li id="navProduct" class="active"><a [routerLink]="['product']"> <i class="glyphicon glyphicon-ruble"></i> Product </a></li>     
            <li class="dropdown" id="navOrder">
          <a href="http://localhost/stock/product.php#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-shopping-cart"></i> Orders <span class="caret"></span></a>
          <ul class="dropdown-menu">            
            <li id="topNavAddOrder"><a href="http://localhost/stock/orders.php?o=add"> <i class="glyphicon glyphicon-plus"></i> Add Orders</a></li>            
            <li id="topNavManageOrder"><a href="http://localhost/stock/orders.php?o=manord"> <i class="glyphicon glyphicon-edit"></i> Manage Orders</a></li>            
          </ul>
        </li> 
  
        <li id="navReport"><a href="http://localhost/stock/report.php"> <i class="glyphicon glyphicon-check"></i> Order Report </a></li>
     <li id="navReport"><a href="http://localhost/stock/order_item_report.php"> <i class="glyphicon glyphicon-check"></i> Order Item Report </a></li>
      <li id="navReport"><a href="http://localhost/stock/pending_payment_order_view.php" target="_blank"> <i class="glyphicon glyphicon-check"></i> Pending Payment Order Report </a></li>
    <li id="navReport"><a href="http://localhost/stock/productview.php" target="_blank"> <i class="glyphicon glyphicon-check"></i> View Stock </a></li>
    <li id="navReport"><a href="http://localhost/stock/no_stock_productview.php" target="_blank"> <i class="glyphicon glyphicon-check"></i> No Stock </a></li>
  
        <li class="dropdown" id="navSetting">
          <a href="http://localhost/stock/product.php#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-user"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu">            
            <li id="topNavSetting"><a href="http://localhost/stock/setting.php"> <i class="glyphicon glyphicon-wrench"></i> Setting</a></li>            
            <li id="topNavLogout"><a href="http://localhost/stock/logout.php"> <i class="glyphicon glyphicon-log-out"></i> Logout</a></li>            
          </ul>
        </li>        
               
      </ul>

      <input />
    </td>
    </tr></tbody></table>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
